@use './reset.scss';

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: $layout_manu_bgc;
}
::-webkit-scrollbar-thumb{
  width: 10px;
  background-color: #000000;
  border-radius: 10px;
}
