$layout_manu_width: 260px;
$layout_manu_bgc: #002f3e;
$layout_navigation_height: 60px;
$layout_navigation_bgc: #002f3e;
$layout_manu_logo_height:65px;
 $layout_manu_p_size:20px;
$layout_manu_minus_width:60px;
